<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>STL Monthly Gardener Home</title>
</head>
<body>

<h1 class= intro>Welcome! Here you will find all of your daily Saint Louis region gardening advice:
  If you live in plant hardiness zone 6b, formerly 6a, these daily tips are for you.  If you live in another zone, adjust accordingly.
Find out your plant hardiness zone on this <a href="https://planthardiness.ars.usda.gov/PHZMWeb/#">interactive map </a> from OSU and the USDA, as many zones have recently changed.</h1>

<h2 class= dateIntro>Today, {{todaysDate | date: 'longDate'}}, in your STL garden: </h2>
</body>
</html>
