<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>STL Monthly Gardener Home</title>
</head>
<body>

<h1 class= intro>Welcome! Here you will find all of your daily Saint Louis, Missouri regional gardening advice:
  If you live in plant hardiness zone 6b, formerly 6a, these daily tips are for you.  If you live in another zone, adjust accordingly.
Find out your plant hardiness zone on this <a href="https://planthardiness.ars.usda.gov/PHZMWeb/#">interactive map </a> from OSU and the USDA, as many zones have recently changed.</h1>

<div class= homeWrapper>

<div class= weatherDiv>
  <div class= transBox>
    <h2 >{{todaysDate | date: 'longDate'}} in your garden: </h2>
  <ul class=weatherData>
      <li class=currentWeatherInfo>
        <span class= weatherInfoSpan>Currently:</span> {{(weather | async )?.currently.temperature}} &#8457;
        and {{(weather | async )?.currently.summary }}... {{temperatureAdvice((weather | async )?.currently.temperature)}}
      </li>
     <li><span class= weatherInfoSpan> Today's UV Index: </span>{{(weather | async )?.daily.data[0].uvIndex}}... {{uvAdvice((weather | async )?.daily.data[0].uvIndex)}} </li>
     <li><span class= weatherInfoSpan> Next 24 Hours: </span>{{(weather | async )?.hourly.summary}} </li>
     <li><span class= weatherInfoSpan> Next 7 days: </span>{{(weather | async )?.daily.summary }} </li>
     <li><span class= weatherInfoSpan> Moon Phase: </span>{{(weather | async )?.daily.data[0].moonPhase }} </li>
    </ul>
  </div>

</div>

<div class= tasksDiv>
  <div class= transBox>
<h2>{{todaysDate | date: 'MMMM'}} Week {{week}} Garden Tasks:</h2>

<mat-checkbox class= taskCheckbox *ngFor="let weeklytip of weeklyTip"> {{weeklytip.description}}</mat-checkbox>

</div>
</div>

</div>

<div class="slider-wrap">
<p class= gardenQuotesDiv>{{gardenQuote}}</p>
</div>
</body>
</html>
