body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topPage{
  display: flex;
  flex-flow: row;
  margin: 0px;
  padding: 0px;
}

.pageLogoWrapper{
  width: 40%;
  text-align: left;
}

.pageLogo{
  width:120px;
  height: auto;
  padding-left: 10%;
}

nav {
  background-color: white;
  padding: 0px;
  margin: 0px;
  width: 100%;

}


nav ul{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding-top: 60px;
}

nav li a {
  font-size: 16px;
  text-decoration: none;
  padding-right: 30px;
}

nav li a:hover {
  color: #3B5F4B;
  text-decoration: #3B5F4B;
  font-size: 18px;
  text-decoration: underline;
}

.titleHero {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 14px;
  text-shadow: -2px 4px #3B5F4B;
  padding-top: 90px;
  height: 200px;
  color: #FFFFFF;
  text-align: center;
  min-width: 100%;
  background: url("/assets/images/cabbage.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

footer{
  color: #FFFFFF;
  text-align: center;
  background-color: #3B5F4B;
  padding: 30px;
  letter-spacing: 8px;
}
