<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>STL Daily Gardener</title>
    <meta content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes" name="viewport">
    </head>

<body>

<header class=topPage>
  <div class=pageLogoWrapper>
      <a routerLink="/home"><img src="./assets/images/gardenlogo.jpg" alt="STL Daily Gardener logo" class=pageLogo></a>
  </div>
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li>
          <a routerLink="/monthlytips">Monthly Tips</a>
        </li>
        <li>
          <a routerLink="/blog">Garden Blog</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class=titleHero> <h1>STL Daily Gardener</h1></div>

<div>
  <router-outlet></router-outlet>
</div>

<footer>Copyright Marla Productions 2018</footer>
</body>

</html>

